body {
	background-color: #F5F5F5;/*Or #F8F8FF;F5F5F5 */
}

#topNav {
	background-color: #1A237E;
}
#mainContainer {
    padding-top: 70px;
  }
#navText {
	color:white;
}
.navbar-brand {
	color:white;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
#bigpic {
	max-height: 250px;
	width:auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	border: 5px solid #FFFFFF;
}

#bigIntroText {
	color:#FF6D00;
}
#introText {
	color:#ecf0f1;
}

/* Customize container */
@media (min-width: 768px) {
  #mainContainer {
    max-width: 1024px;
  }
}

.jumbopic {
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(21, 101, 192, 0.7), 
      rgba(21, 101, 192, 0.7)
    ),
    /* bottom, image */
    url("./assets/jumbobg.jpg");
    background-size: cover;
}

.companylogo {
	max-width: 150px;
	height:auto;
}

.jobBlurb {
	background-color: #1565C0;
	margin: 10px 0px 10px 0px;
	padding: 20px 20px 20px 20px;
	color:white;
	text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    float:none;
}
