#bigpic {
  max-height: 250px;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 5px solid #FFFFFF;
}

#bigIntroText {
  color:#FF6D00;
}
#introText {
  color:#ecf0f1;
}

/* Customize container */
@media (min-width: 768px) {
  #mainContainer {
    max-width: 1024px;
  }
}

.jumbopic {
  background: 
    linear-gradient(
      rgba(21, 101, 192, 0.7), 
      rgba(21, 101, 192, 0.7)
    ),
    url("./assets/jumbobg.jpg");
    background-size: cover;
}

.companylogo {
  width:auto;
  max-height:175px;
}

.jobTitle {
  font-size: 150%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.jobBlurb {
  background-color: #1565C0;
  margin: 10px 0px 10px 0px;
  padding: 20px 20px 20px 20px;
  color:white;
  text-align: justify;
    text-justify: inter-word;
    font-family: 'roboto', 'Open Sans', sans-serif;
    font-size: 110%;
    max-width: 500px;
    float:none;
}